In [1]:
import pandas as pd
import numpy as np
import pandoc
df =pd.DataFrame({'key1':['a','a','b','b','a'],
                   'key2':['one','two','one','two','one'],
                   'data1':np.random.randn(5),
                   'data2':np.random.randn(5)})

In [2]:
df

      data1     data2 key1 key2
0 -0.564220  0.435608    a  one
1 -1.286948 -0.871202    a  two
2 -0.968673 -0.074655    b  one
3  1.198610 -0.597771    b  two
4  0.797860  1.604838    a  one

#  groupby语法

In [ ]:
tips.groupby(["day","time"]).agg({"tip":sum,"total_bill" :max})
tips.groupby(["day","time"])["tip","total_bill"].sum()
tips.groupby(["day","time"])["tip","total_bill"].agg([sum,max])

## 对不同列进行不同聚合---传入字典

In [13]:
df.groupby(["key1"]).agg({"data1" : sum,"data2":max})

         data1     data2
key1
a    -1.053308  1.604838
b     0.229937 -0.074655

## 对不同列进行相同聚合---传入列表

In [18]:
df.groupby(["key1"]).agg([sum,np.var])

         data1               data2
           sum       var       sum       var
key1
a    -1.053308  1.120670  1.169245  1.534271
b     0.229937  2.348556 -0.672425  0.136825

## 对相同进行不同聚合

In [20]:
df.groupby(["key1"])["data1","data2"].agg({"data1": [np.sum,np.var],"data2":[sum]})

         data1               data2
           sum       var       sum
key1
a    -1.053308  1.120670  1.169245
b     0.229937  2.348556 -0.672425

In [ ]:
agg apply